*
{
    margin:0px;
}
.part1
{
    float:left;
    background-color: brown;
    height: 800px;
    width:10%;
}
.headerarea
{
    height:20%;
    border:1px solid green;
}
.contentarea
{
    height:75%;
    border:1px solid red;
}
.part2
{
    float:right;
    height: 800px;
    background-color: orange;
    width:90%;
}

.part3
{
    background-color: blue;
    height: 100px;;
    clear: both;
}