*
{
    margin: 0px;
}
.logo
{
    float:left;
    width:20%;
    height: 100px;
    background-color: brown;
}
.menu
{
    float:right;
    width:80%;
    height: 100px;
    background-color: aqua;
}

.part
{
    width:32.3%;
    float:left;
    margin-left: 10px;
    background-color: chartreuse;
    height: 200px;;
}
.singlepart
{
    width:100%;
    clear: left;

    background-color: gray;
    height: 100px;
}